<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->  

    <!-- Body main wrapper start -->
    
        <!-- END HEADER AREA -->









       
        <!-- END MOBILE MENU AREA -->

        <!-- START SLIDER AREA -->







        <div class="slider-area slider-2 section">
            <div class="bend niceties preview-2">
                
                <div id="nivoslider-2" class="slides">   
                    <img src="/user-public/img/slider/slider-2/slider-2.jpg" alt="" title="#slider-direction-0"  />
                    <img src="/user-public/img/slider/slider-2/slider-2.jpg" alt="" title="#slider-direction-1"  />
                    <img src="/user-public/img/slider/slider-2/slider-2.jpg" alt="" title="#slider-direction-2"  />
                    <img src="/user-public/img/slider/slider-2/slider-2.jpg" alt="" title="#slider-direction-3"  />
                    {{!-- <img src="/user-public/img/slider/slider-2/slider-2.jpg" alt="" title="#slider-direction-5"  /> --}}
                </div>
                <!-- ===== direction 1 ===== -->

                {{#each banner}}
                <div id="slider-direction-{{@index}}" class="slider-direction">
                    <div class="slider-content-1">
                        <div class="title-container">
                            <div class="wow rotateInDownLeft" data-wow-duration="2s" data-wow-delay="0.5s">
                                <h6 class="slider2-title-1" style="color:black">Best price : Rs {{this.price}}</h6>
                            </div>
                            <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                                <h1 class="slider2-title-2" style="color:black">{{this.name}}</h1>
                            </div>
                            <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.5s">
                                <h2 class="slider2-title-3" style="color:black">{{this.category}}</h2>
                            </div>
                            <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="2s">
                                <p class="slider2-title-4" style="color:black">{{this.description}}</p>
                            </div>
                            <div class="slider-button wow fadeInUp" data-wow-duration="1s" data-wow-delay="2.5s">
                                <button href="" onclick="addToCart('{{this._id}}')"  class="btn btn-info">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                    <!-- layer 1 -->
                    <div class="slider-content-1-image">
                        <div class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
                            
                            <div class="layer-1-1">
                                <img  src="/images/{{this.image.[0]}}" style="width:43%" alt="" />
                            </div>
                            
                        </div>
                    </div>
                </div>
                {{/each}}
                <!-- ===== direction 2 ===== -->
                
                <!-- ===== direction 3 ===== -->
                
                <!-- ===== direction 4 ===== -->
                
                <!-- ===== direction 5 ===== -->
                
                <!-- ==== -->
            </div>
        </div>
        
        <!-- END SLIDER AREA -->

        <!-- Start page content -->
        <section id="page-content" class="page-wrapper section">

            <!-- UP COMMING PRODUCT SECTION START -->
            {{!-- <div class="up-comming-product-section mb-80">
                <div class="container">
                    <div class="row">
                        <!-- up-comming-pro -->
                        
                        <div class="col-lg-8">
                            <div class="up-comming-pro gray-bg clearfix">
                                <div class="up-comming-pro-img f-left">
                                    <a href="#">
                                        <img src="" alt="">
                                    </a>
                                </div>
                                <div class="up-comming-pro-info f-left">
                                    <h3><a href="#">Dummy Product Name</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elitest, sed do eiusmod tempor incididunt ut labore et dolores top magna aliqua. Ut enim ad minim veniam, quis nostrud exer citation ullamco laboris nisi ut aliquip ex ea commodo consequat. laborum. </p>
                                    <div class="up-comming-time">
                                        <div data-countdown="2019/01/15"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-4 d-block d-md-none d-lg-block">
                            <div class="banner-item banner-1">
                                <div class="ribbon-price">
                                    <span>$ 896.00</span>
                                </div>
                                <div class="banner-img">
                                    <a href="#"><img src="img/banner/1.jpg" alt=""></a>
                                </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div> --}}
            <!-- UP COMMING PRODUCT SECTION END -->

            <!-- BY BRAND SECTION START-->
            {{!-- <div class="by-brand-section mb-80">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-title text-left ">
                                <h2 class="uppercase">By Brands</h2>
                                <h6 class="mb-40">There are many variations of passages of brands available,</h6>
                            </div>
                            <div class="by-brand-product">
                                <div class="active-by-brand slick-arrow-2">
                                    <div class="brand-item">
                                        <div class="single-brand-product">
                                            <a href="single-product.html"><img src="img/product/5.jpg" alt=""></a>
                                            <h3 class="brand-title text-gray">
                                                <a href="#">Brand name</a>
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="brand-item">
                                        <div class="single-brand-product">
                                            <a href="single-product.html"><img src="img/product/6.jpg" alt=""></a>
                                            <h3 class="brand-title text-gray">
                                                <a href="#">Brand name</a>
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="brand-item">
                                        <div class="single-brand-product">
                                            <a href="single-product.html"><img src="img/product/7.jpg" alt=""></a>
                                            <h3 class="brand-title text-gray">
                                                <a href="#">Brand name</a>
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="brand-item">
                                        <div class="single-brand-product">
                                            <a href="single-product.html"><img src="img/product/8.jpg" alt=""></a>
                                            <h3 class="brand-title text-gray">
                                                <a href="#">Brand name</a>
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="brand-item">
                                        <div class="single-brand-product">
                                            <a href="single-product.html"><img src="img/product/8.jpg" alt=""></a>
                                            <h3 class="brand-title text-gray">
                                                <a href="#">Brand name</a>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> --}}
            <!-- BY BRAND SECTION END -->

            <!-- FEATURED PRODUCT SECTION START -->
            <div class="featured-product-section mb-50">
                <div class="container">
                    <div class="row mt-5">
                        <div class="col-lg-12">
                            <div class="section-title text-left mb-40">
                                <h2 class="uppercase"> Category</h2>
                               
                            </div>
                            <div class="featured-product row">
                             {{#each category}}
                                <div class="col-md-4">
                                    <div class="product-img">
                                       <a href="/category-products/{{this.category}}">
                                                <img src="/images/{{this.Image.[0]}}" alt=""/>
                                            </a>
                                    </div>
                                    <div class="product-info">
                                            <h3 class="product-title">
                                                <a href="/category-products/{{this.category}}">{{this.category}}</a>
                                            </h3>
                                           
                                            <h6 class="pro-price">Sony</h6>
                                            
                                        </div>
                                </div>
                                 {{/each}}
                                
                                
                            </div>          
                        </div>
                    </div>
                </div>            
            </div>
            {{!-- <div class="featured-product-section mb-50 mt-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-title text-left mb-40">
                                <h2 class="uppercase">CATEGORIES</h2>
                                <h6>There are many variations of categories available,</h6>
                            </div>
                            <div class="featured-product">
                                <div class="active-featured-product slick-arrow-2">
                                    {{#each category}}
                                    <div class="product-item">
                                        <div class="product-img">
                                            
                                            <a href="/category-products/{{this.category}}">
                                                <img src="/images/{{this.Image.[0]}}" alt=""/>
                                            </a>
                                            
                                        </div>
                                        <div class="product-info">
                                            <h3 class="product-title">
                                                <a href="/category-products/{{this.category}}">{{this.category}}</a>
                                            </h3>
                                           
                                            <h6 class="pro-price">Sony</h6>
                                            
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>          
                        </div>
                    </div>
                </div>            
            </div> --}}
            <!-- FEATURED PRODUCT SECTION END -->

            <!-- PRODUCT TAB SECTION START -->
            <div class="product-tab-section mb-50">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="section-title text-left mb-40">
                                <h2 class="uppercase">RECENT PRODUCTS</h2>
                                <h6>Sony products</h6>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            {{!-- <div class="product-tab pro-tab-menu text-right">
                                <!-- Nav tabs -->
                                <ul class="nav">
                                    <li><a class="active" href="#popular-product" data-bs-toggle="tab">Popular Products </a></li>
                                    <li><a href="#new-arrival" data-bs-toggle="tab">New Arrival</a></li>
                                    <li><a href="#best-seller" data-bs-toggle="tab">Best Seller</a></li>
                                    <li><a href="#special-offer" data-bs-toggle="tab">Special Offer</a></li>
                                </ul>
                            </div> --}}
                        </div>
                        <div class="col-lg-12">
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <!-- popular-product start -->
                                <div id="popular-product" class="tab-pane active show">
                                    <div class="row">
                                        <!-- product-item start -->

                                        {{#each products}}
                                        <div class="col-lg-3 col-md-4">
                                            
                                            <div class="product-item">
                                                <div class="product-img">
                                                    <a href="/user-singleproduct/{{this._id}}">
                                                        <img src="/images/{{this.image.[0]}}" alt="" />
                                                    </a>
                                                </div>
                                                <div class="product-info">
                                                    <h6 class="product-title">
                                                        <a href="single-product.html">{{this.name}}</a>
                                                    </h6>
                                                    <div class="pro-rating">
                                                       
                                                    </div>
                                                    {{#if this.offer}}
                                                    <h6 class="pro-price" style="color:red">Rs <strike>{{this.price}}</strike></h6>
                                                    <h3 class="pro-price">Rs {{this.offerPrice}}</h3>
                                                    {{else}}
                                                    <h3 class="pro-price">Rs {{this.price}}</h3>
                                                    {{/if}}
                                                    <ul class="action-button">
                                                        <li>
                                                            <a onclick="wishlist('{{this._id}}')" title="Wishlist"><i class="zmdi zmdi-favorite"></i></a>
                                                        </li>
                                                       
                                                        <li>
                                                            <a onclick="addToCart('{{this._id}}')" title="Add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        {{/each}}
                                        <!-- product-item end --> 
                                    </div>
                                </div>
                                <!-- popular-product end -->
                                <!-- new-arrival start -->
                                
                                <!-- new-arrival end -->
                                <!-- best-seller start -->
                                
                                <!-- best-seller end -->
                                <!-- special-offer start -->
                                
                                <!-- special-offer end -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- PRODUCT TAB SECTION END -->

            <!-- BLOG SECTION START -->
            
            <!-- BLOG SECTION END -->                
        </section>
        <!-- End page content -->

        <!-- START FOOTER AREA -->
        

    </div>


</body>

</html>